@use "sass:color";

$background: #161217;

$blue: #b8c4ff;

$blue_container: #374379;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #91d5ad;

$green_container: #035233;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #342f34;

$inverse_primary: #765085;

$inverse_surface: #e9e0e7;

$on_background: #e9e0e7;

$on_blue: #1f2c61;

$on_blue_container: #dde1ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #003822;

$on_green_container: #acf2c8;

$on_orange: #55200d;

$on_orange_container: #ffdbd0;

$on_primary: #442253;

$on_primary_container: #f7d8ff;

$on_primary_fixed: #2d0b3d;

$on_primary_fixed_variant: #5c386b;

$on_purple: #402357;

$on_purple_container: #f2daff;

$on_red: #511d3d;

$on_red_container: #ffd8ea;

$on_secondary: #392c3e;

$on_secondary_container: #f1dcf4;

$on_secondary_fixed: #231728;

$on_secondary_fixed_variant: #504255;

$on_surface: #e9e0e7;

$on_surface_variant: #cec3cd;

$on_tertiary: #4c2525;

$on_tertiary_container: #ffdad8;

$on_tertiary_fixed: #331111;

$on_tertiary_fixed_variant: #663b3a;

$on_yellow: #452b00;

$on_yellow_container: #ffddb3;

$orange: #ffb59d;

$orange_container: #723520;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #978e97;

$outline_variant: #4c444d;

$primary: #e4b7f3;

$primary_container: #5c386b;

$primary_fixed: #f7d8ff;

$primary_fixed_dim: #e4b7f3;

$purple: #deb8f7;

$purple_container: #583a6f;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #fbb0d8;

$red_container: #6c3455;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

$secondary: #d4c0d7;

$secondary_container: #504255;

$secondary_fixed: #f1dcf4;

$secondary_fixed_dim: #d4c0d7;

$shadow: #000000;

$source_color: #af55d8;

$surface: #161217;

$surface_bright: #3d373d;

$surface_container: #231e23;

$surface_container_high: #2d282e;

$surface_container_highest: #383339;

$surface_container_low: #1e1a1f;

$surface_container_lowest: #110d12;

$surface_dim: #161217;

$surface_tint: #e4b7f3;

$surface_variant: #4c444d;

$tertiary: #f5b7b5;

$tertiary_container: #663b3a;

$tertiary_fixed: #ffdad8;

$tertiary_fixed_dim: #f5b7b5;

$yellow: #f5bd6f;

$yellow_container: #633f00;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;



$theme: 'dark';
// $surface_transparent: color.scale($surface, $alpha: -20%);
$surface_transparent: $surface;
$inverse_surface_transparent: color.scale($inverse_surface, $alpha: -92%);
$inverse_surface_transparent_variant: color.scale(
  $inverse_surface,
  $alpha: -82%
);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
