@use "sass:string";
@use "sass:color";
@use "colors.scss" as *;
* {
  font-size: 14px;
  outline: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  -gtk-icon-shadow: none;
}

// GTK日历特定样式
calendar {
  // color: $on_surface;
  // font-size: 1.1em;
  // padding: 0.5em;
  // 日历网格样式
  &.view {
    background-color: transparent;
    // border-radius: 12px;
    // padding: 0.5rem;
  }

  // 当前日期样式
  &:selected {
    // box-shadow:
    //   inset 0 -0.2em 0 0 $primary,
    //   inset -0.4em -0.3em 0 0 transparent,
    //   inset 0.4em 0 0 0.01em transparent;
    background-color: transparent;
    color: $primary;
    // padding: 0.5rem; // 调整 padding 以使按钮居中
    // border-radius: 100%;
  }

  // 日期悬停样式
  // &:hover {
  //   color: $primary;
  //   // border-radius: 7.143rem;
  // }

  // &:botton {
  //   color: $primary;
  // }

  // 周和星期样式
  &.highlight {
    color: $primary;
    // font-weight: bold;
  }

  // 非当前月份的日期样式
  &:indeterminate {
    color: color.scale($on_surface, $alpha: -35%);
  }
}
icon {
  box-shadow: none;
  text-shadow: none;
}

slider {
  border: none;
  outline: none;
  background: $inverse_surface_transparent_variant;
}

separator {
  background: none;
}

window {
  background: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
}
label {
  box-shadow: none;
}

window.popup {
  > * {
    border: none;
    box-shadow: none;
  }

  menu {
    margin-top: 12px;
    border-radius: 20px;
    background-color: $surface_transparent;
    padding: 10px;

    // separator {
    //     background-color: $border_color;
    // }

    menuitem {
      min-width: 140px;
      padding: 12px 6px;
      color: $on_surface;
      border-radius: 100px;
      transition: background 0.1s ease;
      &:hover {
        background: $inverse_surface_transparent;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

switch {
  border: 2px solid $outline;
  border-radius: 100px;
  background-color: $surface_container_highest;
}

switch slider {
  box-shadow: none;
  border-radius: 100px;
  background-color: $outline;
}

switch:hover slider,
switch:active slider {
  background-color: $on_surface_variant;
}

switch:active {
  background-color: color.mix(
    $surface_container_highest,
    $on_surface,
    0.08 * 1%
  );
}

switch:checked {
  background-color: $primary;
  border: 2px solid $primary;
}

switch:checked slider {
  background-color: $on_primary;
}
