@use "colors.scss" as *;
@use "./common.scss";
// @use "./components.scss";
@use "./Bar.scss";
// @use "./scrim.scss";
// @use "./appLauncher.scss";
// @use "./controlCenter.scss";
// @use "./player.scss";
@use "./notification.scss";
@use "./osd.scss";
// @use "./popupMenu.scss";
@use "./powermenu.scss";
@use "./dashboard.scss";
@use "./quicksettings.scss";
@use "./wallpaperpicker.scss";
@use "./applauncher.scss";
@use "./mediaPlayer.scss";
@use "roundedcorners.scss";

* {
  font-family: Noto Sans;
}

scale {
  margin: 0;
  padding: 0;

  trough {
    border-radius: 10px;

    highlight {
      background-color: $primary;
      min-height: 32px;
      // 调整highlight的border-radius，让右边与slider圆形匹配
      border-radius: 10px; // 设置为min-height的一半
    }

    slider {
      box-shadow: none;
      outline: unset;
      min-height: 32px;
      min-width: 32px;
      background-color: transparent;
      border-radius: 10px; // 确保slider是完美的圆形
      // 可选：添加一个小偏移使slider稍微重叠在highlight上
      // margin-left: -10px; // 这可以减少两者之间的缝隙
    }
  }
}

menubutton {
  padding: 0;

  button {
    padding: unset;
    margin: unset;
    border-radius: 2px;

    // &:hover {
    //   background-color: $inverse_surface_transparent;
    // }
  }
}

popover arrow {
  background: transparent;
}

popover.background.menu {
  /* 整体弹出窗口样式 */
  min-width: 120px;
  /* 设置最小宽度 */
  margin-top: 10px;
}

popover.background.menu contents {
  background-color: $surface_transparent;
  /* 使用主题背景色 */
  color: $on_surface;
  padding: 6px;
  min-width: 120px;
  /* 设置最小宽度 */
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.labelSmallBold {
  color: $on_surface;
  font-size: 14px;
  font-weight: bold;
}

.labelSmall {
  color: $on_surface;
  font-size: 14px;
}

