@use "colors.scss" as *;

.mediaPlayersContainer {
  // margin: 6px;
  margin-top: 10px;
  margin-bottom: 6px;
  background-color: $inverse_surface_transparent;
  border-radius: 10px;

  // min-height: 100px;
  .media-player {
    // min-width: 180px;
    color: $on_surface;
    padding: 1rem;
    margin-left: 0rem;

    .media-font {
      color: $on_surface;
      font-size: 7rem;
      font-weight: 900;
      // margin-top: 15px;
      margin-right: 1rem;
      margin-left: 1rem;

      .artist {
        font-weight: 500;
      }
    }

    .progress_container {
      min-height: 10px;
      margin-left: 1rem;

      .progress {
        border-radius: 10px;
        margin-top: 0.3rem;

        trough {
          border-radius: 10px;
          min-height: 10px;

          block {
            // min-width: 10px; // Ensure minimum width matches the border-radius

            &.empty {
              border-radius: 10px;
              background-color: $inverse_surface_transparent_variant;
            }

            &.filled {
              background-color: $primary;
              border-radius: 10px;
              min-height: 10px;
              // margin: 0.1rem;
              // padding: 0.5rem;
            }
          }
        }
      }
    }

    .play-icon {
      color: $on_surface;

      // margin-right: 1rem;
      // &:hover {
      //   color: $on_primary_container;
      // }
      .control-bg {
        padding: 0.8rem;
        border-radius: 100px;
        background: $primary;

        &:hover {
          background: $primary_container;
        }
      }
    }

    .next-icon {
      color: $on_surface;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }

    .cover {
      border-radius: 10px;
      min-height: 80px;
      min-width: 80px;
      // margin-right: 0.3rem;
      // margin-right: 0.3rem;
    }
  }
}

.mediaPlayer {
  margin-top: 10px;
  background-color: transparent;
  border: $surface_transparent;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;

  .controlButton {
    all: unset;
    background-color: $primary;
    color: $on_primary;
    padding: 4px 4px 4px 4px;
    border: none;
    min-height: 25px;
    min-width: 30px;
    border-radius: 100px;
  }

  .controlButton:hover {
    background-color: $on_primary;
    color: $primary;
  }

  .seekContainer {
    margin: 10px 0 10px 0;
  }

  .seek {
    margin: 0 8px 0 8px;

    trough {
      background: $inverse_surface_transparent;
      min-height: 8px;
      border-radius: 20px;

      // slider {
      //   color: $primary;
      //   background: $primary;
      // }

      highlight {
        background: $primary;
        border-radius: 20px;
      }
    }
  }
}
