@use "sass:string";
@use "colors.scss" as *;
@use "sass:color";
.osd-window {
    background-color: transparent;
  // min-width: 400px;
  // min-height: 40px;
  border-radius:10px;
  margin-bottom: 20px;
}

.osd-box {
    padding: 10px;
    border-radius: 10px;
  color: $on_surface;
    background-color:transparent;
}

.osd-icon {
  background-color:$inverse_surface_transparent_variant;
  color: $on_surface;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
    // margin: 1em 2em;
}

.osd-bar {
    min-height: 35px;
  min-width: 300px;
  // color: $inverse_surface_transparent;
  
        trough {
          border-radius: 10px;
          min-height: 10px;

          block {
            // min-width: 10px; // Ensure minimum width matches the border-radius

            &.empty {
              border-radius: 10px;
              background-color: $surface_transparent;
            }

            &.filled {
              background-color: $primary;
              border-radius: 10px;
              min-height: 20px;
              // margin: 0.1rem;
              // padding: 0.5rem;
            }
          }
        }
}

